@import 'ngx-toastr/toastr';

#content main {
    height: 100%;
    width: calc(100% - 16.5625rem);
    font-family: var(--poppins);
    max-height: calc(100vh - 56px);
  }
  
  #content main .table-data {
    display: flex;
    flex-wrap: wrap;
    grid-gap: 24px;
    margin-top: 24px;
    width: 100%;
    color: var(--dark);
  }
  #content main .table-data > div {
    border-radius: 20px;
    background: var(--light);
    padding: 24px;
    overflow-x: auto;
  }
  
  #content main .table-data .head {
    display: flex;
    align-items: center;
    grid-gap: 16px;
    margin-bottom: 24px;
  }
  #content main .table-data .head h3 {
    margin-right: auto;
    font-size: 24px;
    font-weight: 600;
    display: flex;
    gap: 20px;
  }
  #content main .table-data .head button {
    display: flex;
    align-items: center;
  }
  #content main .table-data .head .bx {
    cursor: pointer;
  }
  #content main .table-data .order {
    flex-grow: 1;
    flex-basis: 500px;
  }
  #content main .table-data .order table {
    width: 100%;
    border-collapse: collapse;
  }
  #content main .table-data .order table th {
    padding-bottom: 12px;
    font-size: 13px;
    text-align: left;
    border-bottom: 1px solid #ff8800;
  }
 
  #content main .table-data .order table tr td:first-child {
    display: flex;
    align-items: center;
    grid-gap: 12px;
    padding-left: 6px;
    padding-top: 10px;
  }
  #content main .table-data .order table tr td:nth-child(2) {
    grid-gap: 12px;
    padding-left: 6px;
    padding-top: 10px;
  }
  #content main .table-data .order table td img {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    object-fit: cover;
  }
  #content main .table-data .order table tbody tr:hover {
    background: rgb(117, 117, 117);
  }
  #content main .table-data .order table tr td .status {
    font-size: 10px;
    border-radius: 20px;
    font-weight: 700;
  }
 
 
  @media screen and (max-width: 768px) {
    .sidenav {
      width: 200px;
    }
    #content {
      width: calc(100% - 60px);
      left: 200px;
    }
    #content nav .nav-link {
      display: none;
    }
  }
  @media screen and (max-width: 576px) {
    #content nav form .form-input input {
      display: none;
    }
    #content nav form .form-input button {
      width: auto;
      height: auto;
      background: transparent;
      border-radius: none;
      color: var(--dark);
    }
    #content nav form.show .form-input input {
      display: block;
      width: 100%;
    }
    #content nav form.show .form-input button {
      width: 36px;
      height: 100%;
      border-radius: 0 36px 36px 0;
      color: var(--light);
      background: var(--red);
    }
    #content nav form.show ~ .notification,
    #content nav form.show ~ .profile {
      display: none;
    }
  
    #content main .table-data .head {
      min-width: 420px;
    }
    #content main .table-data .order table {
      min-width: 420px;
    }
   
  }
  .modal-body {
    position: relative;
    height: 450px;
  }
  .modal.fade .modal-dialog {
    transition: transform 0.3s ease-out;
    transform: translateY(-25%);
  }
  
  .modal.fade.show .modal-dialog {
    transform: translateY(0);
  }
  
  