.heading {
  text-align: center;
}
.form {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 15%;
    left: 30%;
    width: 70%;
    margin: 0 auto 0 auto;
    border:  solid 5px #e9e6e6;
    border-bottom-left-radius: 15px;
    border-top-right-radius: 15px;
    min-height: 420px;
    width: 40%;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.form input,
.form textarea,
.form select {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
    font-family: inherit;
}

.form label {
    text-align: left;
    display: block;
    margin: 0 0 5px 3px;
    color: #fff;
}

.btn {
    padding: 10px 20px;
    border: 1px solid #01161e;
    border-radius: 5px;
    background: #ff8902;
    color: #fff;
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
    text-align: center;
    appearance: button;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.btn-block {
    width: 100%;
    margin-bottom: 20px;
}

@media (max-width: 600px) {
    .form {
      width: 80%;
    }
    .form input {
    width: 90%;
    margin-left: 5px;
    
  }
}