<!-- <section id="content">
    <main>
      <div class="chart-data">
        <div class="order">
          <div class="head">
            <h3>Statistiques</h3>
            
                <div class="chart-info" style="width: 90%;">
                    <h3 style="font-size: 15px; width: 100%;">Nombre des rapports réçu : {{rapportCount}} </h3>
                    <h3 style="font-size: 15px;">Pourcentage des procedures éxecutés avec succés : {{succProc}}</h3>
                    <h3 style="font-size: 15px;">Pourcentage des procedures erronées : {{failProc}}</h3>
                </div>
           </div>
          </div>
        </div>
      </div> 
    </main>
</section> -->
<div class='title'>
  <h3>Statistiques</h3>
</div>
<div class="container">
<div class="chart-container" style="width: 40%;">
  <canvas id="piechart" style="width: 400px;"></canvas>
</div>
<div class="chart-info">
  <h3 style="font-size: 15px; width: 100%;">Nombre des rapports réçu : {{rapportCount}} </h3>
  <h3 style="font-size: 15px;">Pourcentage des procedures éxecutés avec succés : {{succProc}}</h3>
  <h3 style="font-size: 15px;">Pourcentage des procedures erronées : {{failProc}}</h3>
</div>
</div>