<section id="content">
    <!-- MAIN -->
    <main>
      <div class="table-data">
        <div class="order">
          <div class="head">
            <h3>Rapports </h3>
          </div>
          <table>
            <thead>
              <tr>
                <th>Procédures</th>
                <th>Status</th>
                <th>erreur</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let log of procLogs">
                <td>
                  <p >{{log.name}}</p>
                </td>
                <td *ngIf="log.status === 'error'">
                  <mat-icon style="color: red;">error</mat-icon>
                </td>
                <td *ngIf="log.status === 'success'">
                  <mat-icon style="color: green;">check</mat-icon>
                </td>
                <td>
                  <p >{{log.error}}</p>
                </td>
                <td>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
       
      </div> 
    </main>
    <!-- MAIN -->
  </section>

  <!--MODIFIER UNE PROCEDURE MODAL-->
  <div class="modal " id="myModal">
    <div class="modal-dialog ">
      <div class="modal-content">
  
        <!-- Modal Header -->
        <div class="modal-header" style="color: black;">
          <h4 class="modal-title">Modifier une procédure</h4>
          <button type="button" class="btn-close" data-bs-dismiss="modal" (click)="closeModalModif()"></button>
        </div>
  
        <!-- Modal body -->
        <div class="modal-body">
          <textarea id="subject" [(ngModel)]="consoleBody" data-bs-toggle="modal" data-bs-target="#myModal" name="subject" placeholder="Write something.." style="position: absolute; height: 90%; width: 93%;"></textarea>
        </div>
  
        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-bs-dismiss="modal" (click)="updateProc()">Enregistrer</button>
          <button type="button" class="btn btn-danger" data-bs-dismiss="modal" (click)="closeModalModif()">Fermer</button>
        </div>
  
      </div>
    </div>
  </div>
  <!--MODIFIER UNE PROCEDURE MODAL-->